In [1]:
# This allows multiple outputs from a single jupyter notebook cell:
from IPython.core.interactiveshell import InteractiveShell
InteractiveShell.ast_node_interactivity = "all"

In [2]:
%matplotlib inline
import pandas as pd
pd.__version__  # for the record

'2.2.2'

In [17]:
df = pd.read_csv('/Users/liuda/Local/data/finance/stocks/ticker/history/AMZN.csv',index_col=0,parse_dates=True)

df.shape
df.head(3)
df.tail(3)

(3771, 6)

              Open    High     Low   Close  Adj Close    Volume
Date
2009-08-24  4.2585  4.2795  4.2120  4.2250     4.2250  94464000
2009-08-25  4.2330  4.3170  4.1975  4.2095     4.2095  95820000
2009-08-26  4.2050  4.2380  4.1690  4.2000     4.2000  72276000

,Open,High,Low,Close,Adj Close,Volume
Date,,,,,,
2024-08-14,172.110001,172.279999,168.860001,170.100006,170.100006,28843800
2024-08-15,174.860001,177.910004,173.990005,177.589996,177.589996,51698500
2024-08-16,177.039993,178.339996,176.259995,177.059998,177.059998,31440000

In [18]:
import mplfinance as mpf
mpf.__version__

'0.12.10b0'

In [19]:
df = df[df.index>'2024-01-01']

In [80]:
import matplotlib.pyplot as plt


def plot_candle_figure(ticker_name, df, x):
    df['Close'] = df['Adj Close']
    df['Low'] = df['Adj Low']
    df['High'] = df['Adj High']
    df['Open'] = df['Adj Open']

    # Ensure 'Low' is not greater than 'Open' or 'Close'
    df['Low'] = df[['Low', 'Open', 'Close']].min(axis=1)
    df['High'] = df[['High', 'Open', 'Close']].max(axis=1)

    df.index = pd.to_datetime(df["Date"])

    """
    addplot = [mpf.make_addplot(df['Open'], label='Open', width=1.0)]


    mpf.plot(df, type='candle', volume=True, style='charles',
                             title="XXX",
                             addplot=addplot, 
                         returnfig=True,
                             figscale=1.2,
                             figsize=(12, 6))
    for ax in axes:
        ax.legend(loc=3, bbox_to_anchor=(1.02, 0), borderaxespad=1, fontsize='small')
    """
    add_plot = []
    for col in df.columns:
        if col in ["Volume", "Date", "Open", "Close", "High", "Low",
                   "Adj Open", "Adj Close", "Adj High", "Adj Low"]:
            continue

        linestyle = "solid"
        if "day" in col:
            linestyle = "dashed"
        elif "week" in col:
            linestyle = "dashdot"
        elif "month" in col:
            linestyle = "dotted"

        addplot = mpf.make_addplot(df[col], linestyle=linestyle, label=col, width=1.0)
        add_plot.append(addplot)

    mpf.plot(df, type='candle', volume=True, style='charles',
                         title=f'{ticker_name}',
                         addplot=add_plot,
                         returnfig=True,
                         figscale=1.2,
                         figsize=(12, 6),
                         savefig="/Users/liuda/Desktop/1.png"
            )

In [81]:
from datetime import datetime, timedelta

figure_data = pd.read_csv('/Users/liuda/Local/data/finance/output/entries/AMZN.csv')
figure_data = figure_data[['Date',
                           "Open", "High", "Low",
                           "Adj Open", "Adj High", "Adj Low", 'Adj Close',
                           "Volume",
                           'EMA_13_day', 'EMA_21_day', 'SMA_50_day', 'SMA_100_day',
                           'SMA_50_weekly']]

data_start_date = (datetime.now() + timedelta(days=-90)).strftime('%Y-%m-%d')


plot_candle_figure('XXX', figure_data, 'Date')

/opt/homebrew/lib/python3.10/site-packages/mplfinance/_arg_validators.py:84: UserWarning:

 =================================================================

   WARNING: YOU ARE PLOTTING SO MUCH DATA THAT IT MAY NOT BE
            POSSIBLE TO SEE DETAILS (Candles, Ohlc-Bars, Etc.)
   For more information see:
   - https://github.com/matplotlib/mplfinance/wiki/Plotting-Too-Much-Data

   TO SILENCE THIS WARNING, set `type='line'` in `mpf.plot()`
   OR set kwarg `warn_too_much_data=N` where N is an integer
   LARGER than the number of data points you want to plot.

 ================================================================
  warnings.warn('\n\n ================================================================= '+