In [4]:
import pandas as pd

In [5]:
df1 = pd.DataFrame({'A': [1,2,3], 'B': [3,4,5]})
df2 = pd.DataFrame({'A': [1,3,4], 'B': [3,4,5]})

In [6]:
df = pd.merge(df1, df2, on=['A'], how='outer', suffixes=['_x', '_y'])

In [7]:
df['B'] = df['B_x'].combine_first(df['B_y'])
df.drop(columns=['B_x', 'B_y'], inplace=True)

In [12]:
from io import StringIO

csv_buffer = StringIO()
df.to_csv(csv_buffer, index=False)

csv_string = csv_buffer.getvalue()

In [14]:
print(csv_string)

A,B
1,3.0
2,4.0
3,5.0
4,5.0

In [102]:
df1 = pd.DataFrame({'A': [1,2,3], 'B': [3,4,5]})
df2 = pd.DataFrame({'A': [1,3,4], 'B': [3,4,5]})

df = pd.merge(df1, df2, on=['A'], how='outer', suffixes=['_x', '_y'])

In [103]:
df[['B_x', 'B_y']].fillna(0)

   B_x  B_y
0  3.0  3.0
1  4.0  0.0
2  5.0  4.0
3  0.0  5.0

In [105]:
df1 = pd.DataFrame({'A': [1,2,3], 'B': [3,4,5]})
df2 = pd.DataFrame({'A': [1,3,4], 'B': [3,4,5]})

df = pd.merge(df1, df2, on=['A'], how='outer', suffixes=['_x', '_y'])

In [107]:
df_filter = df[df['A']==1].copy()

In [109]:
df_filter['A']  = 111

In [110]:
class Test:
    a = 1
    b = 0
    def __init__(self):
        self.b = 2
        print(self.a)
    def run(self):
        print('run', self.a, self.b)


Test().run()

1
run 1 2

In [111]:
df = pd.DataFrame({
    'opening_date': ['2014-02-14','2014-04-21','2014-08-19','2014-10-21','2014-12-19'],
    'T_LongBullBuy2_3': [0,1.0,1.0,1.0,1.0],
    'T_H_H_strategy1' : [0,0,1.0,0,1.0],
    'T_H_M_strategy1' : [0,1.0,0,1.0,1.0],
    'T_LongBullBuy2_2': [0.0,1.0,1.0,1.0,1.0]
})

df['trigger'] = df[['T_LongBullBuy2_3', 'T_H_H_strategy1', 'T_H_M_strategy1', 'T_LongBullBuy2_2']].sum(axis=1)

In [112]:
df['trigger2'] = df['trigger'].astype(bool).astype(int)

In [113]:
df

,opening_date,T_LongBullBuy2_3,T_H_H_strategy1,T_H_M_strategy1,T_LongBullBuy2_2,trigger,trigger2
0,2014-02-14,0.0,0.0,0.0,0.0,0.0,0
1,2014-04-21,1.0,0.0,1.0,1.0,3.0,1
2,2014-08-19,1.0,1.0,0.0,1.0,3.0,1
3,2014-10-21,1.0,0.0,1.0,1.0,3.0,1
4,2014-12-19,1.0,1.0,1.0,1.0,4.0,1

In [114]:
df1 = pd.DataFrame({'A': [1,2,3], 'B': [3,4,5]})

In [115]:
first_index = df1.index[0]
first_value = df1.at[first_index, 'A']

In [116]:
from datetime import datetime

x = (datetime.strptime('2020-01-01', '%Y-%m-%d') - datetime.strptime('2019-01-01', '%Y-%m-%d')).days

In [117]:
df1 = pd.DataFrame({'A': [1,2,3], 'B': [3,4,5]})
df2 = pd.DataFrame({'A': [1,3,4], 'B': [3,4,5]})

In [118]:
df1 = df1.rename(columns={'A': 'AA'})

In [119]:
df = pd.DataFrame({
    'entry_name': ['entry_name'],
    'entry_count': [1],
    'duration': [2],
    'profit_rate':  [3],
    'win': [4],
    'none_exit': [6],
})

In [152]:
indicator_data = {
    'strategy_qt': ['2019q4', '2020q1', '2020q2', '2020q3', '2020q4', '2021q1', '2021q2', '2021q3', '2021q4', '2022q1', 
                    '2022q2', '2022q3', '2022q4', '2023q1', '2023q2', '2023q3', '2023q4', '2024q1'],
    'Indicator': [53109457408, 60012626448, 68546915040, 63316608224, 59819847040, 77790598224, 75984470816, 
                  53505656000, 65591031856, 91077370000, 82907569200, 71627768448, 48075447054, 60578692858, 
                  63115695714, 55230978728, 62662285465, 84901869586]
}

In [155]:
df = pd.DataFrame(indicator_data)

In [161]:
df  = df.sort_values(by='Indicator').reset_index(drop=True)

In [147]:
df = df['strategy_qt'].apply(pd.to_datetime)

0    2019-10-01
1    2020-01-01
2    2020-04-01
3    2020-07-01
4    2020-10-01
5    2021-01-01
6    2021-04-01
7    2021-07-01
8    2021-10-01
9    2022-01-01
10   2022-04-01
11   2022-07-01
12   2022-10-01
13   2023-01-01
14   2023-04-01
15   2023-07-01
16   2023-10-01
17   2024-01-01
Name: strategy_qt, dtype: datetime64[ns]

In [123]:
import pandas as pd

# 创建示例 DataFrame
data1 = {'Date': ['2024-01-01', '2024-01-02', '2024-01-03'], 'Value1': [10, 20, 30]}
df1 = pd.DataFrame(data1)
df1['Date'] = pd.to_datetime(df1['Date'])
df1.set_index('Date', inplace=True)

data2 = {'Date': ['2024-01-01', '2024-01-02', '2024-01-04'], 'Value2': [40, 50, 60]}
df2 = pd.DataFrame(data2)
df2['Date'] = pd.to_datetime(df2['Date'])

print("DataFrame 1:")
print(df1)
print("\nDataFrame 2:")
print(df2)

# 通过普通列 Date 进行合并
result = df1.reset_index().merge(df2, on='Date')

DataFrame 1:
            Value1
Date
2024-01-01      10
2024-01-02      20
2024-01-03      30

DataFrame 2:
        Date  Value2
0 2024-01-01      40
1 2024-01-02      50
2 2024-01-04      60

In [140]:
import pandas as pd
import talib

# 创建示例 DataFrame
data = {
    'Date': ['2024-01-01', '2024-01-02', '2024-01-03', '2024-01-04', '2024-01-05'],
    'Open': [100, 102, 103, 1, 0],
    'High': [110, 112, 113, 0, 0],
    'Low': [90, 92, 93, 1, 0],
    'Adj Close': [108, 109, 110, 111, 112],
    'Volume': [1000, 1500, 2000, 2500, 3000]
}
ticker_data = pd.DataFrame(data)

# 确保 Date 列是 datetime 类型，并设置为 DatetimeIndex
ticker_data['Date'] = pd.to_datetime(ticker_data['Date'])
ticker_data.set_index('Date', inplace=True)

print(ticker_data)

            Open  High  Low  Adj Close  Volume
Date
2024-01-01   100   110   90        108    1000
2024-01-02   102   112   92        109    1500
2024-01-03   103   113   93        110    2000
2024-01-04     1     0    1        111    2500
2024-01-05     0     0    0        112    3000

In [141]:
df_reset = ticker_data.reset_index(drop=False)

In [142]:
df_reset['High'].astype(bool) | df_reset['Low'].astype(bool)

0     True
1     True
2     True
3     True
4    False
dtype: bool

In [162]:
m = {1:1, '2': 2}
import json
json.dumps(m)

'{"1": 1, "2": 2}'

In [42]:
# 测试concat时间

import pandas as pd
import numpy as np
from datetime import datetime

start_time = datetime.now()
df = pd.DataFrame({})

for i in range(1000):
    df_new = pd.DataFrame(np.random.randint(0,100,size=(100, 4)), columns=list('ABCD'))
    df = pd.concat([df, df_new])    
print(df)

print(datetime.now() - start_time)

     A   B   C   D
0   95  99  76  83
1   69  59  99  34
2   43  90  48  38
3   13  26  33  92
4   20  16  96  99
..  ..  ..  ..  ..
95  53  24  24  36
96  72  45  85  22
97  59  46  44  52
98  96  14  38  69
99  21  40  72  42

[100000 rows x 4 columns]
0:00:00.358717

In [45]:
# 测试concat时间

import pandas as pd
import numpy as np
from datetime import datetime

start_time = datetime.now()

df_list = []
df111 = pd.DataFrame({})

for i in range(1000):
    df_new = pd.DataFrame(np.random.randint(0,100,size=(100, 4)), columns=list('ABCD'))
    df_list.append(df_new)
    df111 = pd.concat([df111, df_new])    

df = pd.concat(df_list)
print(df.sum())
print(df111.sum())
print(df==df111)
print(datetime.now() - start_time)

A    4944747
B    4947958
C    4958340
D    4950268
dtype: int64
A    4944747
B    4947958
C    4958340
D    4950268
dtype: int64
       A     B     C     D
0   True  True  True  True
1   True  True  True  True
2   True  True  True  True
3   True  True  True  True
4   True  True  True  True
..   ...   ...   ...   ...
95  True  True  True  True
96  True  True  True  True
97  True  True  True  True
98  True  True  True  True
99  True  True  True  True

[100000 rows x 4 columns]
0:00:00.338047

In [46]:
df

     A   B   C   D
0   89   7  76   6
1   57   6  98  51
2    6  35  44  92
3   22  15  20  47
4   37  86  19  31
..  ..  ..  ..  ..
95  13  10  65  72
96  57  14  56  52
97  20  74  29  43
98  23  39  17  79
99  41  87   7  71

[100000 rows x 4 columns]

In [127]:
import pandas as pd

# 创建 DataFra
data = pd.read_csv('/Users/liuda/Desktop/AMD.csv')

In [128]:
data['Earnings Date'] = pd.to_datetime(data['Earnings Date'], utc=True)  
data['qt'] = data['Earnings Date'].dt.to_period('Q').astype(str).str.replace('Q', 'q')
data[['year', 'quarter']] = data['qt'].str.split('q', expand=True)
data['date'] = data['Earnings Date'].dt.strftime('%Y%m%d')

data['pre_year'] = data['year'].astype(int) - 1
data['pre_year'] = data['pre_year'].astype(str)
data['pre_qt'] = data['pre_year'] + 'q' + data['quarter']

data = pd.merge(data, data, left_on='pre_qt', right_on='qt', how='left', suffixes=['', ' y'])
data = data[['Earnings Date', 'qt', 'EPS Estimate', 'Reported EPS', 'Surprise(%)', 'Earnings Date y', 'EPS Estimate y', 'Reported EPS y', 'Surprise(%) y']]

data = data.sort_values(by='qt').dropna(subset=['EPS Estimate', 'Reported EPS', 'Surprise(%)'])  # .reset_index(drop=True)
data = data.nlargest(4, 'Earnings Date').reset_index(drop=True)

/var/folders/td/16v_twyd2fq9rhdl5vysffbw0000gn/T/ipykernel_60595/1392032302.py:2: UserWarning: Converting to PeriodArray/Index representation will drop timezone information.
  data['qt'] = data['Earnings Date'].dt.to_period('Q').astype(str).str.replace('Q', 'q')

In [129]:
data

,Earnings Date,qt,EPS Estimate,Reported EPS,Surprise(%),Earnings Date y,EPS Estimate y,Reported EPS y,Surprise(%) y
0,2024-07-30 20:00:00+00:00,2024q3,0.68,0.69,0.0207,2023-08-01 20:00:00+00:00,0.57,0.58,0.0149
1,2024-04-30 20:00:00+00:00,2024q2,0.61,0.62,0.0175,2023-05-02 20:00:00+00:00,0.56,0.60,0.0636
2,2024-01-30 21:00:00+00:00,2024q1,0.77,0.77,-0.0032,2023-01-31 21:00:00+00:00,0.67,0.69,0.0328
3,2023-10-31 20:00:00+00:00,2023q4,0.68,0.70,0.0344,2022-11-01 20:00:00+00:00,0.68,0.67,-0.0215

In [130]:
df = pd.DataFrame({'A': []})
print(df.empty)

True

In [172]:
def join_hedge_filter(ticker_data, hedge_filter):
    filter_names = hedge_filter['filter_name'].drop_duplicates().items()
    columns=['Date', 'Open', 'High', 'Low', 'Close', 'Adj Close', 'Volume', 'Adj Open', 'Adj High', 'Adj Low', 'qt', 'TICKER']
    for _, filter_name in filter_names:
        filter_df = hedge_filter[hedge_filter['filter_name'] == filter_name].copy()
        ticker_data = pd.merge(ticker_data, filter_df, left_on='qt', right_on='filter_qt', how='left')
        ticker_data = ticker_data.rename(columns={'filter_value': f'{filter_name}'})
        columns.append(filter_name)
        ticker_data = ticker_data[columns]
        ticker_data[f'{filter_name}'] = ticker_data[f'{filter_name}'].fillna(0)

    ticker_data = ticker_data[columns]
    return ticker_data

In [176]:
hedge_filter = pd.read_csv('/Users/liuda/Local/data/finance/output/filter/hedge_filters.csv')

ticker_data = pd.read_csv('/Users/liuda/Local/data/finance/stocks/ticker/history/AMZN.csv', sep=",")
ticker_data['TICKER'] = 'AMZN'
ticker_data['Adj High'] = ticker_data['High'] + ticker_data['Adj Close'] - ticker_data['Close']
ticker_data['Adj Low'] = ticker_data['Low'] + ticker_data['Adj Close'] - ticker_data['Close']
ticker_data['Adj Open'] = ticker_data['Open'] + ticker_data['Adj Close'] - ticker_data['Close']
ticker_data = ticker_data.sort_values(by="Date").reset_index(drop=True)
ticker_data['qt'] = ticker_data['Date'].apply(pd.to_datetime).dt.to_period('Q').astype(str).str.replace('Q', 'q')


ticker_data = join_hedge_filter(ticker_data, hedge_filter)


ticker_data = ticker_data.sort_values(by="Date").reset_index(drop=True)
ticker_data['Date'] = pd.to_datetime(ticker_data['Date'])
ticker_data.set_index('Date', inplace=True)

rule, label = "W", "weekly"
resampled_data = ticker_data.resample(
    rule, label="left", offset="1D"
).agg(
    {"Open": "first",
     "High": "max",
     "Low": "min",
     "Adj High": "max",
     "Adj Open": "first",
     "Adj Low": "min",
     "Adj Close": "last",
     "Volume": "sum", }
)

In [171]:
print(ticker_data)

                  Open        High         Low       Close   Adj Close  \
Date
2009-08-24    4.258500    4.279500    4.212000    4.225000    4.225000
2009-08-25    4.233000    4.317000    4.197500    4.209500    4.209500
2009-08-26    4.205000    4.238000    4.169000    4.200000    4.200000
2009-08-27    4.200500    4.242500    4.157000    4.215500    4.215500
2009-08-28    4.239000    4.249500    4.128500    4.138000    4.138000
...                ...         ...         ...         ...         ...
2024-08-12  168.139999  168.550003  166.110001  166.800003  166.800003
2024-08-13  167.809998  171.039993  167.100006  170.229996  170.229996
2024-08-14  172.110001  172.279999  168.860001  170.100006  170.100006
2024-08-15  174.860001  177.910004  173.990005  177.589996  177.589996
2024-08-16  177.039993  178.339996  176.259995  177.059998  177.059998

              Volume TICKER    Adj High     Adj Low    Adj Open
Date
2009-08-24  94464000   AMZN    4.279500    4.212000    4.258500
2009-08-25  95820000   AMZN    4.317000    4.197500    4.233000
2009-08-26  72276000   AMZN    4.238000    4.169000    4.205000
2009-08-27  79954000   AMZN    4.242500    4.157000    4.200500
2009-08-28  92414000   AMZN    4.249500    4.128500    4.239000
...              ...    ...         ...         ...         ...
2024-08-12  30072800   AMZN  168.550003  166.110001  168.139999
2024-08-13  39237900   AMZN  171.039993  167.100006  167.809998
2024-08-14  28843800   AMZN  172.279999  168.860001  172.110001
2024-08-15  51698500   AMZN  177.910004  173.990005  174.860001
2024-08-16  31440000   AMZN  178.339996  176.259995  177.039993

[3771 rows x 10 columns]

In [177]:
import pandas as pd

In [178]:
df = pd.DataFrame({'qt': ['2024q1', '2023q4'], 'TOP_HOLD_COUNT': [1195, 1018]})

In [179]:
df

       qt  TOP_HOLD_COUNT
0  2024q1            1195
1  2023q4            1018

In [183]:
a = dict(zip(df.qt, df.TOP_HOLD_COUNT))

In [184]:
a

{'2024q1': 1195, '2023q4': 1018}

In [ ]:
b = {'a': 1}