In [25]:
import yfinance as yf

In [26]:
yf.__version__

'0.2.44'

In [27]:
ticker_name = 'AMZN'
start_date = '2023-01-01'
end_date = '2024-11-26'

In [28]:
yf_ticker = yf.Ticker(ticker_name, proxy='http://127.0.0.1:8001')

In [29]:
yf_ticker.earnings_history

            epsEstimate  epsActual  epsDifference  surprisePercent
2023-12-31      0.80400       1.00           0.20           0.2438
2024-03-31      0.83227       0.98           0.15           0.1775
2024-06-30      1.02503       1.26           0.23           0.2292
2024-09-30      1.14242       1.43           0.29           0.2517

In [30]:
yf_ticker.earnings_estimate

     numberOfAnalysts      avg   low  high  yearAgoEps  growth
0q                 42  1.46722  1.29  1.83     1.00000  0.4672
+1q                27  1.36904  1.18  1.53     0.98000  0.3970
0y                 57  5.12191  4.73  5.49     2.90000  0.7662
+1y                57  6.16009  5.50  6.86     5.12191  0.2027

In [ ]:
print(yf_ticker.major_holders)
print(yf_ticker.institutional_holders)
yf_ticker.mutualfund_holders
yf_ticker.insider_transactions
yf_ticker.insider_purchases
yf_ticker.insider_roster_holders
yf_ticker.splits
yf_ticker.actions
# yf_ticker.shares
yf_ticker.info
yf_ticker.calendar
yf_ticker.recommendations
yf_ticker.recommendations_summary
yf_ticker.upgrades_downgrades
yf_ticker.quarterly_cashflow
yf_ticker.cashflow
yf_ticker.quarterly_balance_sheet
yf_ticker.balance_sheet
yf_ticker.quarterly_income_stmt
yf_ticker.income_stmt
# yf_ticker.analyst_price_targets
# yf_ticker.earnings_estimate
# yf_ticker.revenue_estimate
# yf_ticker.earnings_history
# yf_ticker.eps_trend
# yf_ticker.eps_revisions
# yf_ticker.growth_estimates
# yf_ticker.sustainability
# yf_ticker.options
# yf_ticker.news
# yf_ticker.earnings_dates

In [17]:
import pandas as pd

In [18]:
input_file = '/Users/liuda/Local/data/finance/stocks/ticker/earnings_history/AAPL.csv'

In [19]:
data = pd.read_csv(input_file)

In [22]:
data['Unnamed: 0'].iloc[-1]

'2024-09-30'

In [23]:
data.iloc[-1]['Unnamed: 0']

'2024-09-30'

In [32]:
import yfinance